{% load  static  %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!--=====================================
                    META TAG PART START
        =======================================-->
        <!-- REQUIRE META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- AUTHOR META -->
        <meta name="author" content="mironcoder">
        <meta name="email" content="mironcoder@gmail.com">
        <meta name="profile" content="https://themeforest.net/user/mironcoder">

        <!-- TEMPLATE META -->
        <meta name="name" content="Greeny">
        <meta name="title" content="Greeny - eCommerce HTML Template">
        <meta name="keywords" content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, webshop, farm, grocery, natural, online store">
        <!--=====================================
                    META-TAG PART END
        =======================================-->

        <!-- WEBPAGE TITLE -->
        <title>Greeny - Register</title>

        <!--=====================================
                    CSS LINK PART START
        =======================================-->
        <!-- FAVICON -->
        <link rel="icon" href="images/favicon.png">

        <!-- FONTS -->
        <link rel="stylesheet" href=" {% static ' fonts/flaticon/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/icofont/icofont.min.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/fontawesome/fontawesome.min.css' %}">

        <!-- VENDOR -->
        <link rel="stylesheet" href="{% static 'vendor/venobox/venobox.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/slickslider/slick.min.cs' %}s">
        <link rel="stylesheet" href="{% static 'vendor/niceselect/nice-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">

        <!-- CUSTOM -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/user-auth.css' %}">
        <!--=====================================
                    CSS LINK PART END
        =======================================-->
    </head>
    <body>
        <!--=====================================
                    USER FORM PART START
        =======================================-->
{% block 'auth_body' %}
{% endblock 'auth_body' %}
        <!--=====================================
                    USER FORM PART END
        =======================================-->


        <!--=====================================
                    JS LINK PART START
        =======================================-->
        <!-- VENDOR -->
        <script src="{% static 'vendor/bootstrap/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendor/countdown/countdown.min.js' %}"></script>
        <script src="{% static 'vendor/niceselect/nice-select.min.js' %}"></script>
        <script src="{% static 'vendor/slickslider/slick.min.js' %}"></script>
        <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>

        <!-- CUSTOM -->
        <script src="{% static 'js/nice-select.js' %}"></script>
        <script src="{% static 'js/countdown.js' %}"></script>
        <script src="{% static 'js/accordion.js' %}"></script>
        <script src="{% static 'js/venobox.js' %}"></script>
        <script src="{% static 'js/slick.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script> 
        <!--=====================================
                    JS LINK PART END
        =======================================-->
    </body>
</html>